<% include ../partials/header %>


    <header class="jumbotron container">
        <% if(currentUser&&currentUser.isAdmin){ %>
        <h1>Welcome To YelpCamp Admin <%= currentUser.username %></h1>
           <% }else{ %>
        <h1>Welcome To YelpCamp</h1> <% } %>
        <p>View Our hand-picked campgrounds from all over the world</p>
        <a class="btn btn-primary btn-md" href="/campgrounds/new">Add new Campgrounds</a>
    </header>
 
         
            <% if(noMatch !== null){%>
            <div class="row text-center" style="display:flex; flex:wrap: wrap;">
                    <div class="col-md-12">
                        <h3><%=noMatch%></h3>
                             <p>  
                                  <form class="form-inline" action="/campgrounds" method="GET">
                                        <div class="form-group">
                                              <input style="width: 450px; text-align:center; border-radius: 10px; resize: vertical;" type="text" name="search" class="form-control" placeholder="Search">
                                        </div>
                                             <button style="border-radius: 10px;" type="submit" class="btn btn-default">Search</button>
                                  </form>
                            </p>
                     </div>
             </div>
            <% }
    else{ %>
            
             <div class="row">
                <div class=col-lg-12"">
                    <h3>Our Most popular Campgrounds</h3>
                </div>
             </div>

    <div class="row text-center" style="display:flex; flex:wrap: wrap;">
       
            <% campground.forEach(function(campground){%>
                    <div class="col-md-3 col-sm-6">
                           <div  class="thumbnail"><img  src="<%= campground.image %>">
                             <div class="caption">    <h4> <%= campground.name %> </h4></div>
                                <p>
                                   <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">More Info</a>
                                </p>
                           </div> 
                    </div>
            <% }); %> 
    </div>

    <% } %>
    <% include ../partials/footer %>